body {
    background-color: #a0cec744;
}

input:focus {
    background-color: #005A4E;
}

br {
    background-color: white;
}

#one {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #006655;
    background-color: #c9e7e3;
}

#tb {
    color: #005A4E;
    background-color: #d6e6e3;
}

#bd {
    text-align: center;
    background-color: #c9e7e384;
}

a {
    color: rgb(0, 114, 178);
    text-decoration: none;
}

.a:hover{
    color: white;
    background-color: blue;
}

#dv:focus{
    background-color: #005A4E;
}

textarea:focus{
    background-color: #005A4E;
}

button {
    color: white;
    background-color: #005a4e6f;
}

button:hover{
    background-color: #005A4E;
}

#kb {
    text-align: center;
    color: white;
    background-color: #005A4E;
}

#g{
    background-color: white
    ;
}