.bd {
    background-color: white;
}

body {
    background-color: rgba(127, 255, 212, 0.146);
}

#one {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #006655;
    background-color: #c9e7e3;
}

#tb {
    color: #005A4E;
    background-color: #d6e6e3;
}

a {
    color: rgb(0, 114, 178);
    text-decoration: none;
}

.a:hover{
    color: white;
    background-color: blue;
}

h2 {
    color: rgb(0, 114, 178);
}

li:hover {
    background-color: rgba(0, 255, 255, 0.162);
}

#kb {
    text-align: center;
    color: white;
    background-color: #005A4E;
}